<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alannoun.salesforceclone">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SalesForceClone"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmployeeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity android:name=".EmployeeView" /> -->
        <activity android:name=".MainActivity" />
        <activity android:name=".OpenSalesView" />
        <activity android:name=".ClosedSalesView" />

        <!-- <activity android:name=".OpenSalesActivity"></activity> -->
        <!-- <activity android:name=".ClosedSalesActivity"></activity> -->
        <activity android:name=".NewSaleView"></activity>
    </application>

</manifest>